/* Diseñado por: Edward Labrador */
/* Para Unión de Comerciantes del Estado Zulia */
/* Versión: 1.0.0 */
/* Todos los Derechos Reservados UCEZ 2026 */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4169E1;
  --accent: #c8932a;
}

body {
  @apply bg-white text-gray-900;
}

html {
  scroll-behavior: smooth;
}
